@(tried: String)
@main("Change Password") {
    <section id="loginbox text-center justify-content-center">
        <div class="limiter">
            <div class="container-login100" style="background-image: url(@routes.Assets.versioned("/images/bg-01.jpg"));">
                <div class="wrap-login100">
                    <a href="@routes.HomeController.index()" style="color: white">Back to Home</a>
                    <form class="login100-form validate-form" action="/aftereditpass" method=POST>
                        <span class="login100-form-logo">
                            <img src="@routes.Assets.versioned("images/berlinlogo.png")" class="img-fluid">
                        </span>

                        <span class="login100-form-title mt-4 p-b-34 p-t-27">
                            Change Password @tried
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="New password">
                            <input class="input100" type="password" name="password" placeholder="New Password">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>


                        <div class="wrap-input100 validate-input" data-validate="Confirm password">
                            <input class="input100" type="password" name="confirmpassword" placeholder="Confirm Password">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="dropDownSelect1"></div>

        <script>
                function checkPassword(form) {
                    var password1 = form.password.value
                    var password2 = form.confirmpassword.value;
                    console.log("password: " + password1)
                    console.log("confirm password: " + password2)

                    // If password not entered
                    if (password1 == '')
                        alert ("Please enter Password");

                    // If confirm password not entered
                    else if (password2 == '')
                        alert ("Please confirm password");

                    // If Not same return False.
                    else if (password1 != password2) {
                        alert ("Passwords did not match")
                        return false;
                    }
                    // If same return True.
                    else{
                        return true;
                    }
                }
        </script>
    </section>
}