@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
        <link rel="stylesheet" href="@routes.Assets.versioned("/fonts/icomoon/style.css")">

        <link rel="stylesheet" href="@routes.Assets.versioned("/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("/css/magnific-popup.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("/css/jquery-ui.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("/css/owl.carousel.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("/css/owl.theme.default.min.css")">

        <link rel="stylesheet" href="@routes.Assets.versioned("/css/lightgallery.min.css")">

        <link rel="stylesheet" href="@routes.Assets.versioned("/css/bootstrap-datepicker.css")">

        <link rel="stylesheet" href="@routes.Assets.versioned("/fonts/flaticon/font/flaticon.css")">

        <link rel="stylesheet" href="@routes.Assets.versioned("/css/swiper.css")">

        <link rel="stylesheet" href="@routes.Assets.versioned("/css/aos.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("/css/login.css")">


        <link rel="stylesheet" href="@routes.Assets.versioned("/css/style.css")">

    </head>
    <body>

        @content

        <script src="@routes.Assets.versioned("/js/jquery-3.3.1.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/jquery-migrate-3.0.1.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/jquery-ui.js")"></script>
        <script src="@routes.Assets.versioned("/js/popper.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/owl.carousel.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/jquery.stellar.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/jquery.countdown.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/jquery.magnific-popup.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/bootstrap-datepicker.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/swiper.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/aos.js")"></script>

        <script src="@routes.Assets.versioned("/js/picturefill.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/lightgallery-all.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/jquery.mousewheel.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/login.js")"></script>

        <script src="@routes.Assets.versioned("/js/main.js")"></script>

        <script>
                $(document).ready(function(){
                    $('#lightgallery').lightGallery();
                });
        </script>
    </body>
</html>