@(LoginStatus: String, assetsFinder: AssetsFinder)
@main("Nav") {
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-3" role="banner">

        <div class="container">
            <div class="row">

                <div class="col-6 col-xl-2">
                    <h1 class="mb-0"><a href="index.html" class="text-black h2 mb-0">Berlin<span class="text-primary">.</span></a></h1>
                </div>
                <div class="col-10 col-md-8 d-none d-xl-block align-items-center">
                    <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                            <li class="has-children">
                                <a href="">@LoginStatus</a>
                                <ul class="dropdown">
                                    <li><a href="">Logout</a></li>
                                    <li><a href="@routes.HomeController.login()">Login</a></li>
                                    <li><a href="@routes.HomeController.register()">Register</a></li>
                                    <li><a href="@routes.HomeController.manageAccount()">Manage Account</a></li>
                                </ul>
                            </li>
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </header>
}